@font-face {
  font-family: 'Banny';
  src: url(../fonts/Banny-BoldRound.otf);
  src: url(../fonts/Banny-LightRound.otf);
  src: url(../fonts/Banny-Round.otf);
}

body {  
  font-family: 'Open Sans', sans-serif;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background: url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 85%;
  margin: 0 auto;
}
.logo {
  margin: 25px 35px;
  margin-bottom: 0;
}
.header-top-links {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header-top-link {
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 20px 30px;
  transition: all 0.3s ease-in-out;
}
.header-top-link:hover {
  color: #e8c300;
}
.main {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
}
.main-left-aside p {
  display: block;
  margin: auto auto;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  transform: rotate(-90deg);
  margin: 0;
}
.main-left-aside, .main-right-aside {
  width: 7.5%;
}
.main-center {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: start;
  align-items: center;
}
.main-center-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0 40px;
  margin-bottom: 80px;
}
.main-description {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  margin-top: 100px;
  margin-bottom: 14px;
}
.main-title {
  font-family: 'Banny';
  font-weight: lighter;
  font-size: 96px;
  line-height: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.main-title::after {
  display: block;
  content: '';
  width: 60px;
  height: 5px;
  background-color: #e8c300;
  border-radius: 50px;
  margin-top: 70px;
}
.main-center-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.main-center-button {
  width: 200px;
  height: 60px;
  font-family: 'Open Sans';
  border: none;
  outline: none;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 5px;
  margin: 20px;
  margin-top: 0;
  text-transform: uppercase;
}
.main-center-button:first-child {
  background-color: #e8c300;
}
.main-center-button:last-child {
  background-color: transparent;
  border: 1px solid white;
}
.main-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
  outline: none;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.main-button:hover {
  background-color: #e8c300;
}
.main-button:hover::after {
  width: 70px;
  height: 70px;
}
.main-button:after{
  content: '';
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  transition: all 0.3s ease-in-out;
}

